<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BuySell</title>
</head>
<body>
<h1>BueSell</h1>
<h4>Information</h4>

<div th:each="img: ${image}">
    <img th:src="@{/image/{id}(id=${img.getId()})}" height="100px"/><br/>
</div>


<b th:text="${productInfo.getTitle()}">Title </b>
<b th:text="${productInfo.getDescription()}">Description </b>
<b th:text="${productInfo.getPrice()}"> Price </b>
<b th:text="${productInfo.getCity()}"> City </b>
<b th:text="${productInfo.getAuthor()}">Author </b>

<form th:method="DELETE" th:action="@{product/{id}(id=${productInfo.getId()})}">
    <input type="submit" value="Delete"/>

</form>
</body>
</html>
